@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Aplicativo feito para o processo de seleção de estágio da Invent Software.</p>

<!--Esse é o aquivo .cshtml que define o método ActionResult About no HomeController.cs, ou seja, 
    o arquivo que será responsável pelo layout da tela ao clicar no "About" na barra de menus principal-->
