@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:patrickdsilva99@gmail.com">patrickdsilva99@gmail.com</a><br />
</address>