@{
    ViewBag.Title = "Home Page";
}

<!--Using this ViewBag approach, you can easily pass other parameters between your view template and your layout file.-->

<div class="jumbotron">
    <h1>Bem-vindo!</h1>
</div>
